body {
	margin: 0;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px;
}

.nav-text {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 28px;
	color: #28352f;
}

.hamburger {
	width: 25px;
	height: 25px;
}

.headline-container {
	display: flex;
	justify-content: center;
	height: 100vh;
	background: url('../images/header-illsutration-mobile.png');
	background-size: 100% 100%;
}

.headline {
	display: flex;
	flex-direction: column;
	width: 375px;
	height: 726px;
	align-items: center;
	align-self: center;
}

.primary-headline-text {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
	font-size: 45px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.37px;
	color: #172b4d;
}

.primary-headline-text-second-color {
	color: #36b37f;
}

.supporting-text {
	font-family: 'Inter', sans-serif;
	font-weight: 400;
	font-size: 23px;
	line-height: 28px;
	text-align: center;
	color: #172b4d;
}

.social-media {
	margin-top: 50px;
}

.go-down-container {
	margin-top: 50px;
}
